.certifications {
  padding: 80px 50px;
  background: #fff;
  color: #333;
  text-align: center;
}

.certifications h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.certifications ul {
  list-style: none;
  padding: 0;
  font-size: 18px;
}

.certifications li {
  margin: 10px 0;
}
