.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #141e30, #243b55);
  color: #fff;
  text-align: center;
}

.home-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.home-content h1 span {
  color: #ff9800;
}

.home-content p {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  background: #ff9800;
  color: #fff;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background: #e67e22;
}
